/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.menu-icon {
    display: flex;
    gap: 10px;
}

.navbar-icon {
    width: 24px;
    height: 24px;
}
