@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inconsolata-font';
    src: url('/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
